@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  height: 48px;
  width: 375px;
  border-radius: 0;
}

.top-nav .normal-button {
  margin-right: 24px;
  height: 12px;
  width: 18px;
  font-weight: 700px;
  color: rgb(96, 112, 255);
}

.top-nav .logo-placeholder {
  font-size: 18px;
  font-weight: 700px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0;
  margin-left: 24px;
  color: rgb(96, 112, 255);
}

.top-nav .logo-placeholder a {
  text-decoration: none;
}

.header-background-mobile {
  height: 718px;
  width: 375px;
  background-image: url("/images/header-shapes\ mobile@2x.svg");
  border: 2px solid rgb(227, 21, 21);
}

.connect {
  margin-left: 24px;
}

.connect p {
  font-weight: 500px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(0, 0, 255);
}

.primary-text {
  height: 150px;
  width: 327px;
  margin: 120px 24px 0 24px;
}

.primary-text h1 {
  font-size: 40px;
  font-weight: 700px;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.primary-text2 {
  height: 146px;
  width: 327px;
  margin: 2px 24px 0 24px;
}

.primary-text2 p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.social-media ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-media ul li {
  float: left;
}

/* stylelint-disable-next-line no-descending-specificity */
.social-media ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.social-media ul li a:hover {
  background-color: rgb(155, 155, 237);
}

.card-work {
  margin-top: 40px;
  border: 2px solid blue;
  height: 552px;
  width: 327px;
  border-radius: 16px;
  padding: 16px;
  background: rgb(255, 255, 255);
}
