/* stylelint-disable CssSyntaxError */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-type-no-unknown */
/* stylelint-disable declaration-block-semicolon-space-before */
/* stylelint-disable indentation */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(244, 244, 244);
}

/* top navigation styles */
@media screen and (min-width: 1281px) {
  .header-bg {
    padding-top: 100px;
    padding-left: 220px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .header-bg {
    padding: 100px 150px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-bg {
    padding: 100px 100px 0;
  }

  .card-work {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  .header-bg {
    padding: 100px 20px 0;
  }

  .card-work {
    display: flex;
    flex-direction: column;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .header-bg {
    padding: 100px 0;
  }

  .card-work {
    display: flex;
    flex-direction: column;
    padding: 4px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .frame1 .c {
    height: 16px;
    flex: 1 20%;
    margin-top: -56px;
    font-size: 18px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgb(52, 69, 99);
    text-align: left;
    align-self: center;
    cursor: pointer;
  }

  .frame1 .p1 {
    height: 16px;
    flex: 1 60%;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: rgb(122, 134, 154);
  }

  .frame1 img {
    height: 8px;
    flex: 3%;
    margin-top: -38px;
    border-radius: 4px;
    align-self: center;
    background: rgb(193, 199, 208);
  }
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
  margin: 20px auto 40px;
  max-height: 10%;
  max-width: 90%;
}

.top-nav .menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  font-weight: 700px;
  color: rgb(96, 112, 255);
}

.top-nav .menu a {
  text-decoration: none;
  max-height: 20px;
  max-width: 63px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 500px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: rgb(52, 69, 99);
}

.top-nav .menu a:hover {
  background: rgb(96, 112, 255);
  color: rgb(255, 255, 255);
}

.top-nav .logo-placeholder {
  font-size: 18px;
  font-weight: 700px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0;
  color: rgb(96, 112, 255);
}

.top-nav .logo-placeholder a {
  text-decoration: none;
}

/* end top navigation styles */

.header-bg {
  display: flex;
  flex-direction: column;
  align-items: left ;
  gap: 32px;
  height: 716px;
  max-width: 98%;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 80px;
  background-image: url("./images/Header-bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

 h1 {
  max-height: 122px;
  max-width: 920px;
  margin: 120px 24px 0 24px;
  font-size: 40px;
  font-weight: 1074px;
  line-height: 52px;
  letter-spacing: 0;
  color: rgb(10, 31, 66);
  text-align: left;
}

p {
  max-height: 10%;
  max-width: 60%;
  margin: 2px 24px 0 24px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.connect {
  max-height: 38px;
  min-width: 14%;
  font-weight: 500px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgb(0, 0, 255);
}

.connect:hover {
  background: rgb(96, 112, 255);
  color: rgb(255, 255, 255);
}

.social-media ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-media ul li {
  float: left;
}

.social-media ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.social-media ul li a:hover {
  background: rgb(96, 112, 255);
  color: rgb(255, 255, 255);
}

/* end of header section styles */

/* work sections starts here */
.card-work {
  display: flex;
  gap: 24px;
  margin: 8%;
  max-width: 90%;
  max-height: 100%;
  border-radius: 24px;
  padding: 16px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(218, 218, 218);
}

.card-image {
  max-width: 100%;
  max-height: 430px;
  flex: 50%;
  border-radius: 8px;
}

.card-image img {
  max-height: 430px;
  max-width: 100%;
}

.left-block {
  display: grid;
  grid-template-areas:
  "A"
  "B"
  "C"
  "D"
  "E";
  grid-template-columns: 100%;
  justify-content: space-around;
  align-content: start;
  flex: 1 50%;
  height: 430px;
}

.h2 {
  font-size: 32px;
  font-weight: 700px;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 1%;
  color: rgb(23, 43, 77);
}

.frame1 {
  display: flex;
  flex-direction: row;
  margin-left: -24px;
  margin-bottom: 30px;
  height: 130%;
  min-width: 350px;
  border-radius: 0;
}

.frame1 .c {
  height: 16px;
  flex: 1 20%;
  margin-top: -55px;
  font-size: 100%;
  font-weight: 500px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgb(52, 69, 99);
  text-align: left;
  align-self: center;
  cursor: pointer;
}

.frame1 .p1 {
  height: 16px;
  flex: 1 60%;
  font-size: 90%;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(122, 134, 154);
}

.frame1 img {
  height: 8%;
  flex: 2%;
  margin-top: -38px;
  border-radius: 4px;
  align-self: center;
  background: rgb(193, 199, 208);
}

.primary1 {
  margin-top: 20px;
  max-width: 100%;
  max-height: 100%;
  margin-left: 0;
  margin-bottom: 24px;
  font-size: 100%;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: justify;
  color: rgb(52, 69, 99);
}

.left-block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.left-block ul li {
  float: left;
  text-align: center;
  margin-right: 8px;
  height: 24px;
  border-radius: 8px;
  padding: 4px, 12px, 4px, 12px;
  background: rgb(235, 235, 255);
}

.left-block ul li a {
  display: block;
  padding: 4px 16px;
  text-decoration: none;
  height: 16px;
  width: 40%;
  font-size: 12px;
  font-weight: 500px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(96, 112, 255);
}

.action {
  padding: 20px 0;
  padding-left: 16px;
  margin-top: 30px;
  margin-left: 0;
  border-radius: 8px;
  text-align: left;
  max-width: 35%;
  max-height: 90px;
  font-size: 19px;
  font-weight: 500px;
  font-weight: medium;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgb(57, 109, 242);
  border: 1px solid rgb(57, 109, 242);
}

.action:hover {
  background-color: rgb(57, 109, 242);
  color: rgb(255, 255, 255);
}

.action1 {
  background-color: rgb(57, 109, 242);
  color: rgb(255, 255, 255);
}

.action1:hover {
  background-color: white;
  color: rgb(57, 109, 242);
}

.left-block1 {
  position: relative;
}

.hand-cursor {
  position: absolute;
  top: 70%;
  left: 70%;
}

.about {
  display: flex;
  margin: 100px 0;
  max-height: 100%;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 80px;
  padding: 114px, 50px, 114px, 500px;
}

.about .top {
  flex: 1 35%;
  margin-top: 90px;
  margin-bottom: 20px;
  padding-left: 24px;
  max-height: 100%;
}

.about .skill-list {
  margin-top: 40px;
  flex: 1 50%;
  max-height: 100%;
  padding: 24px 12px;
}

.frame12 {
  width: 100%;
}

/* stylelint-disable-next-line selector-list-comma-newline-after */
.frame12 .language, .my-work,.my-work1 {
  text-align: left;
}

.frame12 ul li ul {
  display: flex;
  justify-content: flex-start;
  max-width: 500px;
  list-style-type: none;
}

.frame12 .language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22px;
  width: 70%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-weight: 500px;
}

.frame12 .language-list ul li a {
  display: grid;
  text-decoration: none;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  color: rgb(37, 56, 88);
}

.frame12 .language-list ul li {
  height: 80px;
  width: 90px;
  padding: 4px;
  margin-right: 10px;
  background-color: rgb(248, 248, 248);
}

.frame12 .language-list ul li img {
  height: 48px;
  width: 48px;
}

.frame12 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.frame12 ul .my-work {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  height: 50px;
  border-radius: 0;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(205, 205, 205);
}

.frame12 ul .my-work1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border-radius: 0;
  width: 70%;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(205, 205, 205);
}

.top .connect {
  margin-top: 20px;
  margin-left: -24px;
  text-align: left;
  height: 35px;
  width: 300px;
}

.top .connect p {
  font-size: 16px;
  color: rgb(127, 140, 255);
}

.top .action {
  margin-top: 20px;
}

.top .primary1 {
  margin-top: 62px;
  margin-bottom: 13px;
}

.about .social-media ul {
  margin-left: -24px;
}

.contact-me {
  height: 779px;
  max-width: 100%;
  margin-top: 40px;
  padding-top: 50px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  border-top-left-radius: 80px;
  background: rgb(96, 112, 255);
  background-image: url("./images/contact-bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.contact-me h2 {
  height: 56px;
  max-width: 90%;
  font-size: 40px;
  font-weight: 700px;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.contact-me p {
  height: 102px;
  min-width: 100%;
  font-size: 20px;
  font-weight: 400px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(235, 235, 255);
}

.contact-me form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  max-width: 400px;
}

.contact-me form .text2 {
  height: 48px;
  max-width: 380px;
  border-radius: 8px;
  padding: 15px;
  font-size: 17px;
  font-weight: 400px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  overflow: hidden;
  color: rgb(23, 43, 77);
  border: 1px solid rgb(207, 216, 220);
}

.contact-me form .email {
  height: 48px;
  max-width: 380px;
  border-radius: 8px;
  padding: 15px;
  font-size: 17px;
  font-weight: 400px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(23, 43, 77);
  border: 1px solid rgb(207, 216, 220);
}

.contact-me form .message {
  height: 170px;
  max-width: 380px;
  border-radius: 8px;
  border: 1px solid rgb(207, 216, 220);
  padding: 15px;
  font-size: 15px;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(180, 187, 197);
}

.contact-me form .submit {
  height: 48px;
  max-width: 140px;
  border-radius: 8px;
  padding: 12px;
  padding: 12px, 16px, 12px, 16px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(96, 112, 255);
  border: 1px solid rgb(207, 216, 220);
  background: rgb(255, 255, 255);
}

.contact-me form .submit:hover {
  background: rgb(96, 112, 255);
  color: rgb(255, 255, 255);
}

.contact-me .bottom-rule {
  height: 5px;
  max-width: 134px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(13, 21, 30);
}
